.courses-container {
    padding: 2em;
    padding-right: 2em;
    width: 1100px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-courses {
    width: 1040px;
    height: 67px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.first-container {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.courses-title {
    font-weight: 700;
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 41px;
}

.courses-subtitle {
    font-weight: 400;
    line-height: 21px;
    font-size: 14px;
}

.second-container {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* background-color: aquamarine; */
}

.third-container {
    /* background-color: aqua; */
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-container img {
    position: absolute;
    padding-left: 1.5em;
    cursor: pointer;
}

.input-search-dark {
    background-color: #373139;
    border-radius: 36px;
    padding: 5.2px 0px 5.2px 70px;
    gap: 21px;
    border: 1px solid #FFFFFF;
    width: 416px;
    outline: 0;
    height: 40px;
    transition: .8s ease-in-out;
    color: #FFFFFF
  }
  
  .input-search-light {
    background-color: #FFFFFF;
    border-radius: 36px;
    padding: 5.2px 0px 5.2px 70px;
    gap: 21px;
    border: 1px solid #FFFFFF;
    width: 416px;
    outline: 0;
    height: 40px;
    /* outline: 1px solid #939393; */
    transition: .8s ease-in-out;
    color: #7f7e7f
  }

.bell-dark {
    /* position: absolute;
    right: 5%; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5.2px;
    width: 40px;
    height: 40px;
    border: 1px solid #FFFFFF;
    background-color: #373139;
    cursor: pointer;
}

.bell-light {
    /* position: absolute; */
    /* right: 5%; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5.2px;
    width: 40px;
    height: 40px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    cursor: pointer;

}

.courses-here {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    height: 100%;
    /* background-color: #D372FC; */
}

.courses-options {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    width: 1040px;
    height: 100px;
}

.options-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    height: 75%;
    width: 50%;
    column-gap: 1em;
}

.new-course-container {
    display: flex;
    justify-content: flex-end;
    /* padding-right: 0.5em; */
    align-items: center;
    flex-direction: row;
    height: 75%;
    width: 100%;
}

.new-course-button {
    width: 188px;
    height: 40px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    /* padding-left: 1em; */
    gap: 8px;
    background-color: #D372FC;
    transition: ease-in-out all .2s;
    color: white
}

.new-course-button:hover {
    background-color: #dd9ff8;
}

.headear-categories-container {
    background-color: #1F1A20;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 64px;
    border-radius: 12px;
    padding-right: 1em;
    width: 100%;
    /* overflow-y: auto !important;
    height:420px; */
}

/* .custom-select {
    min-width: 350px;
  } */
  
  .custom-select-dashboard-dark select {
    appearance: none;
    width: 163px;
    height: 40px;
    font-size: 16px;
    line-height: 23px;
    padding: 0px 8px 0px 16px;
    background-color: #0F0311;
    border: 1px solid #ffffff;
    border-radius: 15px;
    cursor: pointer;
    color: inherit
  }

  .custom-select-dashboard-light select {
    appearance: none;
    width: 163px;
    height: 40px;
    font-size: 16px;
    line-height: 23px;
    padding: 0px 8px 0px 16px;
    background-color: #ffffff;
    border: 1px solid #b2b2b2;
    border-radius: 15px;
    cursor: pointer;
    color: inherit
  }

  .dropdown-arrow {
    position: relative;
    top: 5px;
    left: -30px;
  }

  .custom-select-filter-dark select {
    appearance: none;
    width: 163px;
    height: 40px;
    font-size: 16px;
    line-height: 23px;
    padding: 0px 8px 0px 40px;
    background-color: #0F0311;
    border: 1px solid #ffffff;
    border-radius: 15px;
    cursor: pointer;
    color: inherit
  }

  .custom-select-filter-light select {
    appearance: none;
    width: 163px;
    height: 40px;
    font-size: 16px;
    line-height: 23px;
    padding: 0px 8px 0px 40px;
    background-color: #ffffff;
    border: 1px solid #b2b2b2;
    border-radius: 15px;
    cursor: pointer;
    color: inherit
  }

  .filter-button {
    position: relative;
    top: 5px;
    right: 150px;
  }