.login-container-dark {
  background-color: #0F0311;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.login-container-light {
  background-color: #ffffff;
  color: #302C31;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 5px;
  width: 100%;
}

.input-container-terms {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.input-container-terms label {
  width: 50%;
  display: flex;
  justify-content: center;
  column-gap: .5em;
}

.login-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 296px;
  width: 374px;
  z-index: 10000;
}

.eye-container {
  position: relative;
  top: -40px;
  right: -140px;
  cursor: pointer;
}

.login-header {
  font-weight: 700;
  font-size: 32px;
  line-height: 41.6px;
}
.login-background-container-1 {
  position: fixed;
  bottom: -5%;
  right: -5%;
  z-index: 0;
}

.login-background-container-2 {
  position: fixed;
  bottom: -5%;
  right: -5%;
  z-index: 0;
}
